:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-one: #5100EB;
    --accent-two: #d4e800;

    --header: Helvetica, sans-serif;
    --body: Arial, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADER SECTION */

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    padding-block: 2em;
}

header nav {
    grid-column: span 3/6;
    place-content: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-one);

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

header nav ul li a:hover {
    color: var(--accent-one);
}

header nav ul li a:hover::after {
    transform: scaleX(1);
}

/* MAIN SECTION */

h1 {
    font-family: var(--header);
    color: var(--accent-two);
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: var(--primary-color);
    background-color: var(--accent-two);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 650;
}

.hero article {
    position: absolute;
    bottom: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    line-height: 1.5rem;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.hero article h2 {
    font-weight: normal;
    font-size: inherit;
    text-transform: none;
    background: none;
}

h2 {
    width: 100%;
    height: auto;
    background: var(--accent-two);
    padding-block: 15px;
    text-align: center;
    text-transform: uppercase;
}

/* HISTORY */

.history {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    align-items: center;
}

.history h2 {
    grid-column: 1/6;
}

.history p {
    grid-column: 1/3;
}

.history p:last-of-type {
    grid-column: 4/6;
}

.history img {
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
}

/* ADVENTURES */

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
}

.adventure figure {
    margin: 0;
    text-align: center;
}

.adventure figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.adventure figure img:hover {
    transform: scale(1.05);
}

.adventure figcaption {
    margin-top: 10px;
    font-weight: bold;
}

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--accent-one);
    color: var(--secondary-color);
    align-items: center;
    text-align: center;
    padding: 2em;
}

footer p {
    flex: 1;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

footer img {
    width: 2rem;
}

/* CONTACT */

.company-info h1 {
    color: var(--primary-color);
    background-color: var(--accent-two);
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
}

.company-info address {
    text-align: center;
    padding-top: 2rem;
    line-height: 2rem;
}

.contact {
    display: flex;
}

.contact iframe {
    width: 50%;
}

.contact form {
    max-width: 50%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact form input,
.contact form textarea {
    padding: 1rem;
}

.contact form input:focus,
.contact form textarea:focus {
    outline-color: #5100EB;
}

fieldset legend {
    padding-bottom: 1.5rem;
}

.contact form fieldset {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px 20px 0;
    border: none;
}

.contact form textarea {
    resize: vertical;
}

.contact form fieldset input:checked {
    background-color: var(--accent-two);
}

.contact form fieldset,
.checkbox-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe {
    display: flex;
}

.subscribe input {
    margin-right: 10px;
}

#submit-btn {
    background: var(--accent-one);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.employee .employee-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.employee-cards img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-block: 1.5rem;
}

.employee-cards figure {
    text-align: center;
}