:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-one: #5100EB;
    --accent-two: #d4e800;

    --header: Helvetica, sans-serif;
    --body: Arial, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADER SECTION */

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    padding-block: 2em;
}

header nav {
    grid-column: span 3/6;
    place-content: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-one);

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

header nav ul li a:hover {
    color: var(--accent-one);
}

header nav ul li a:hover::after {
    transform: scaleX(1);
}

/* MAIN SECTION */

h1 {
    font-family: var(--header);
    color: var(--accent-two);
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: var(--primary-color);
    background-color: var(--accent-two);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 650;
}

.hero article {
    position: absolute;
    bottom: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    line-height: 1.5rem;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.hero article h2 {
    font-weight: normal;
    font-size: inherit;
    text-transform: none;
    background: none;
}

h2 {
    width: 100%;
    height: auto;
    background: var(--accent-two);
    padding-block: 15px;
    text-align: center;
    text-transform: uppercase;
}

/* HISTORY */

.history {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    align-items: center;
}

.history h2 {
    grid-column: 1/6;
}

.history p {
    grid-column: 1/3;
}

.history p:last-of-type {
    grid-column: 4/6;
}

.history img {
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
}

/* ADVENTURES */

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
}

.adventure figure {
    margin: 0;
    text-align: center;
}

.adventure figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.adventure figure img:hover {
    transform: scale(1.05);
}

.adventure figcaption {
    margin-top: 10px;
    font-weight: bold;
}

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--accent-one);
    color: var(--secondary-color);
    align-items: center;
    text-align: center;
    padding: 2em;
}

footer p {
    flex: 1;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

footer img {
    width: 2rem;
}

/* CONTACT */

.company-info h1 {
    color: var(--primary-color);
    background-color: var(--accent-two);
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
}

.company-info address {
    text-align: center;
    padding-top: 2rem;
    line-height: 2rem;
}

.contact {
    display: flex;
}

.contact iframe {
    width: 50%;
}

.contact form {
    max-width: 50%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact form input,
.contact form textarea {
    padding: 1rem;
}

.contact form input:focus,
.contact form textarea:focus {
    outline-color: #5100EB;
}

fieldset legend {
    padding-bottom: 1.5rem;
}

.contact form fieldset {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px 20px 0;
    border: none;
}

.contact form textarea {
    resize: vertical;
}

.contact form fieldset input:checked {
    background-color: var(--accent-two);
}

.contact form fieldset,
.checkbox-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe {
    display: flex;
}

.subscribe input {
    margin-right: 10px;
}

#submit-btn {
    background: var(--accent-one);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.employee .employee-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.employee-cards img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-block: 1.5rem;
}

.employee-cards figure {
    text-align: center;
}

/* HOME PAGE */

.home-hero {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.home-hero img {
    width: 100%;
    height: auto;
}

.home-hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    color: transparent;
    -webkit-text-stroke: 3px var(--secondary-color);
    font-size: 14rem;

    text-transform: uppercase;
    text-align: center;
}

.newsletter {
    width: 100%;
    height: auto;
    padding-block: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter h2 {
    background: none;
    max-width: 30%;
    font-size: 2rem;
}

.newsletter form {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.newsletter form label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding-block: 1.5rem 1rem;
}

.newsletter form input {
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    font-size: 1.2rem;
}

.newsletter form input:focus {
    outline-color: var(--accent-two);
}

.newsletter form button {
    width: 100%;
    background-color: var(--accent-two);
    border: none;
    padding-block: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2rem;
    border: 2px solid var(--accent-two);
    transition: 0.3s ease-in-out;
}

.newsletter form button:hover {
    background: var(--primary-color);
    color: var(--accent-two);
    border: 2px solid var(--accent-two);
}

.mini-about {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1.25fr 0.75fr;
    padding: 0;
}

.mini-about figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
}

.mini-about figure img:nth-child(1) {
    grid-column: 1;
    grid-row: 3 / 4;
}

.mini-about figure img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.mini-about figure img:nth-child(3) {
    grid-column: 2;
    grid-row: 3 / 5;
}

.mini-about figure img:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 2;
}

.mini-about figure img:nth-child(5) {
    grid-column: 3;
    grid-row: 2 / 5;
}

.mini-about figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mini-about div {
    text-align: center;
}

.mini-about div h2 {
    font-size: 2rem;
    background-color: transparent;
}

.mini-about div p {
    line-height: 1.5rem;
    padding-block: 2rem 4rem;
}

.mini-about div a {
    padding: 1rem 2.5rem;
    text-decoration: none;
    color: var(--secondary-color);
    background: var(--accent-one);
    border: 2px solid var(--accent-one);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.mini-about div a:hover {
    color: #5100EB;
    background-color: transparent;
}

/* TRIPS */

#contact-btn-trips {
    position: sticky;
    top: 90%;
    left: 90%;

    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    transition: 0.2s ease-in-out;
}

#contact-btn-trips:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.featured-trips h1 {
    width: 100%;
    height: auto;
    background: var(--accent-two);
    color: var(--primary-color);
    padding-block: 15px;
    text-align: center;
    text-transform: uppercase;
}

.featured-trips .trip-container {
    padding-block: 2rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}

.featured-trips .trip-container article:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}

.featured-trips .trip-container article:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 2;
}

.featured-trips .trip-container article:nth-child(3) {
    grid-column: 2;
    grid-row: 2 / 3;
}

.featured-trips .trip-container article {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
}

.featured-trips .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.featured-trips .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
}

.featured-trips article:nth-child(1) .content h2 {
    margin-bottom: auto;
}

.featured-trips .pill-container {
    display: flex;
    gap: 1.5rem;
}

.featured-trips .pill-container mark {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    font-size: 0.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.featured-trips .content h2 {
    padding: 0;
    margin: 0;
    margin-bottom: auto;
    color: var(--secondary-color);
    font-size: 2.5rem;
    background-color: transparent;
    text-align: left;
}

.featured-trips .content p {
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.all-trips {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.all-trips table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 2px;
}

.all-trips table thead tr th {
    height: 2.5rem;
    background: var(--accent-one);
    color: var(--secondary-color);
}

.all-trips table tbody tr {
    height: 3rem;
}

.all-trips table tbody tr:nth-child(even) {
    background: hsl(261, 100%, 90%);
}