* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    background-color: #ddbaff;
    padding: 1rem 1.5rem;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
}

h1::selection {
    background: #f7c560;
    color: #fff;
}

label {
    margin: 2rem 0 0.5rem 0;
}

input,
textarea,
select {
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    border: none;
    background: #fff;
}

input:focus,
textarea:focus,
select:focus {
    outline-color: #f7c560;
}

button {
    margin-top: 2rem;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f7c560;
    border: none;
}