* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(51, 255, 85);
    padding: 1em 2em;
}

nav a {
    color: #000;
    padding: 0;
    display: block;
    text-decoration: none;
}

main h1 {
    color: #000;
}

main {
    max-width: 50vw;
}

main img {
    width: 300px;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: none;
    float: right;
}

main p {
    line-height: 2rem;
}

p {
    padding: 0;
}

aside {
    width: auto;
    margin: 2em 0;
    padding: 1em 2em;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    right: 50px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: none;
    background: #33FF55;
    color: #000;
}