* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
.grid footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: black;
    padding: 1em 2em;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 0;
    display: block;
    text-decoration: none;

}

.grid {
    display: grid;
    align-items: center;
}

main h1 {
    color: #000;
    border-bottom: 2px solid #000;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 300px;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: none;
    float: right;
}

main p {
    line-height: 2rem;
}

p {
    padding: 0;
}

aside {
    margin: 2em 0;
    padding: 1em 2em;
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 47px;
    right: 0%;
    transform: translateX(-100%);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: none;
    background: #33FF55;
    color: #000;
}