nav {
    background-color: rgb(51, 255, 85);
    padding: 1em 2em;
}

nav a {
    color: #000;
    padding: 0;
    display: block;
    text-decoration: none;
}

main h1 {
    color: #000;
}

main {
    max-width: 50vw;
}

main img {
    width: 300px;
    height: auto;
    border: none;
    padding: none;
    box-shadow: none;
}

p {
    padding: 0;
}

aside {
    width: auto;
    margin: 2em 0;
    border: none;
    padding: 1em 2em;
    background-color: rgb(51, 255, 85);
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #000;
    text-align: center;
}