body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header p {
    background-color: #333333;
    color: #fff;
    padding: 0.7rem;
    display: inline;
}

main picture img {
    width: 355px;
    height: auto;
    box-shadow: 0 0 50px;
}

main section {
    font-size: 0.7rem;
    background: #d3d3d3;
    width: 325px;
    height: auto;
    text-align: left;
    padding: 10px 15px;
    margin-top: 15px;
}

section h1 {
    font-size: 1.5rem;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
}

footer {
    width: 397px;
}

footer p {
    background-color: #333333;
    color: #fff;
    width: 100%;
    padding-block: 0.7rem;
}